
.starter-template {
font-size: 18px;
  text-align: center;
  
}

.row {
padding:5px;

}
#Survey_form{
text-align: left;
}


.price {
  font-size: 4em;
}

.price-cents {
  vertical-align: super;
  font-size: 50%;
}

.price-month {
  font-size: 35%;
  font-style: italic;
}
.panel {
-webkit-transition-property : scale; 
-webkit-transition-duration : 0.2s; 
-webkit-transition-timing-function : ease-in-out; 
-moz-transition : all 0.2s ease-in-out;  
}

.panel:hover {
box-shadow: 0 0 10px rgba(0,0,0,.5);
-moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
}



.carousel
        {
            height: 430px;
            background-color: #000;
        }

            .carousel .item
            {
                height: 430px;
                background-color: #000;
            }

            .carousel img
            {
                width: 100%;
            }

#splash{

}            

.howitworks-images{
background: url(../images/index/devider1.png) no-repeat right top;
padding-left: 0;
}

#howitworks {
background: #f8f8f8;
padding: 50px 0;
}

#chart-templates{
background: #f8f8f8;
 padding: 50px 0;
 font-size: 18px;
}

#color-templates{
background: 0;
 padding: 50px 0;
  font-size: 18px;
}
#download{
background: 0;
 padding: 50px 0;
}